[user]
	email = namluu253@gmail.com
	name = Nam Luu
[core]
    pager = delta
	excludesfile = /Users/namluu/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    line-numbers=true
    side-by-side=true
    hyperlink=true
    hyperlinks-file-link-format = "vscode://file/{path}:{line}"
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[rebase]
	autoStash = true
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
