[user]
	email = namluu253@gmail.com
	name = Nam Luu
[core]
	editor = nano
	excludesfile = /Users/namluu/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:~/dev/vmo/"]
    path = ~/dev/vmo/.gitconfig
y
[push]
	autoSetupRemote = true
[safe]
	directory = /Users/namluu/actions-runner/~/dev/vmo/openart/openart/openart
	directory = /Users/namluu/actions-runner/~/dev/vmo/openart/openart/openart
	directory = /Users/namluu/actions-runner/~/dev/vmo/openart/openart/openart
	directory = /Users/namluu/actions-runner/~/dev/vmo/openart/openart/openart
	directory = /Users/namluu/actions-runner/~/dev/vmo/openart/openart/openart
	directory = /Users/namluu/actions-runner/~/dev/vmo/openart/openart/openart
